.bg-body-tertiary {
  background-color: #f5f9fa !important;
  margin-top: 2%;
}

.container-main {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .75rem;
  padding: 0 5% 5% 5% ;
}

.orders-info {
  font-weight: 400;
}

.customer-info {
  border: 2px solid #869d95;
  border-radius: 5px;
}

.customer-notes {
  border: 1px solid #869d95;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  margin-right: 5px;
}

.row > .col-md-4:last-child {
  margin-right: 0;
}

.row-notes {
  flex-wrap: nowrap;
}

.proceeds-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.form-label {
  color: rgb(0 47 57);
  font-weight: 500;
}

.text-primary {
  font-size: 1.4rem;
}

button#btn-request {
  background-color: #365e64 !important
}

button#btn-contact {
  background-color: #1f60a5 !important
}
